<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <footer>
      <div class="containerFooter">
        <div class="boxFooter">
          <div class="logo">
            <img src="../../public/SVG/logo-color.svg" alt="">
          </div>
          <div class="terms">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus facilis earum officia nemo laboriosam, necessitatibus, dolorem animi deserunt eveniet nisi perspiciatis tenetur dolorum molestiae? Quam voluptates assumenda suscipit aspernatur nemo!</p>
          </div>

        </div>
        <div class="boxFooter">
          <h2>Contacto</h2>          
          <a href=""><i class="fas fa-phone"></i> Telefono</a>
          <a href=""><i class="fas fa-map-marker-alt"></i> Dirección</a>
          <a href=""><i class="fas fa-at"></i> Email</a>
          <a href=""><i class="fas fa-globe"></i> Web</a>
        </div>
        <div class="boxFooter">
          <h2>Convida</h2>
          <a href="">Auspiciantes</a>
          <a href="">Nuestros Socios</a>
          <a href="">Tienda</a>
          <a href="">Eventos</a>
        </div>
        <div class="boxFooter">
          <h2>Redes Sociales</h2>
          <a href=""><i class="fab fa-facebook-f"></i> Facebook</a>
          <a href=""><i class="fab fa-instagram"></i> Instagram</a>
          <a href=""><i class="fab fa-twitter"></i> Twitter</a>
          <a href=""><i class="fas fa-globe"></i> Web</a>
        </div>
      </div>
      <div class="boxCopyright">
        <hr>
        <p>Todos los derechos reservados © 2021 | <b>Convida</b></p>
        <img class="auspiciantes" src="../../public/SVG/Logos AI giz_Mesa de trabajo 1.png" alt="">
      </div>
    </footer>
  </body>
</html>
