<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../../js/headerscroll.js"></script>
  </head>
  <body>
    <header id="navbar">
      <nav>
        <input type="checkbox" id="check" />
        <a class="logo" href="../index.html">
          <img
            id="logo"
            class="logo"
            src="../../public/SVG/LOGO BLANCO.svg"
            alt=""
          />
        </a>
        <div class="navcontainer">
          <ul>
            <a
              href="../index.html"
              class="logonav"
              id="logonav"
              style="display: none"
            >
              <img
                id="logo"
                class="logo"
                src="../../public/SVG/logo-color.svg"
                alt=""
              />
            </a>
            <li><a href="../../index.html">Inicio</a></li>
            <li>
              <a href="/html/pages/quienes-somos.html">¿Quiénes Somos?</a>
            </li>
            <li><a href="#">Nuestros Socios</a></li>
            <li><a href="#">Contáctanos</a></li>
            <li><hr id="hr" /></li>
            <li><a id="tienda" href="#" class="tienda">Tienda</a></li>
          </ul>
        </div>
        <ul class="tiendacontainer">
          <li><a id="tienda1" class="tienda" href="#">Tienda</a></li>
        </ul>
        <label id="menu" for="check" class="checkbtn">
          <i id="menuicon" class="fas fa-bars"></i>
        </label>
        <label id="close" for="check" class="checkbtn" style="display: none">
          <i id="closeicon" class="fas fa-times"></i>
        </label>
      </nav>
      <div id="oscuro" class="oscuro" style="display: none"></div>
    </header>
    <main></main>
  </body>
</html>
