@font-face {
  font-family: "Aristotelica-Display-Trial-Bold";
  src: url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.woff"),
    format("woff"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.svg#Aristotelica-Display-Trial-Bold")
      format("svg"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.eot"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
