@import url(global.css);
footer {
  background-color: white;
  width: 100%;
  padding: 50px 0px;
}
.containerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  margin-top: 100px;
}

.boxFooter {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.boxFooter .logo img {
  width: 180px;
}

.boxFooter .terms {
  max-width: 350px;
  margin-top: 20px;
  color: var(--celeste);
  opacity: 0.7;
  font-size: 1.1em;
  margin-bottom: 50px;
  transition: opacity 150ms ease-in;
}
.boxFooter .terms:hover {
  opacity: 1;
}
.boxFooter h2 {
  color: var(--morado);
  font-weight: 700;
  margin-bottom: 30px;
}

.boxFooter a {
  margin-bottom: 20px;
  color: var(--celeste);
  font-weight: 500;
  opacity: 0.7;
  position: relative;
  transition: opacity 80ms ease-in;
}

.boxFooter a:hover {
  opacity: 0.5;
}

.boxCopyright {
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.boxCopyright p {
  margin-top: 20px;
  color: #929292;
}

.boxCopyright hr {
  border: none;
  height: 1px;
  background-color: #929292;
}

.auspiciantes {
  margin-top: 10px;
  width: 300px;
}
