@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url(aristotelica.css);
@font-face {
  font-family: "Aristotelica-Display-Trial-Bold";
  src: url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.woff")
      format("woff"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.svg#Aristotelica-Display-Trial-Bold")
      format("svg"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.eot"),
    url("../public/fonts/Aristotelica-Display-Trial-Bold.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --morado: #823c84;
  --celeste: #4b89c7;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  background-color: white;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Aristotelica-Display-Trial-Bold", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}
#progressbar {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top, #ba3ebe 0, #2893ff 100%);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 50px;
}

.wave .shape-fill {
  fill: #ffffff;
}
